*{
margin:0;
padding:0;
box-sizing:border-box;
}

html, body{
width:100%;
height:100%;
overflow:hidden;
}

#root{
width:100%;
height:100%;
}

.home-container{
width:100vw;
height:100vh;

display:flex;
justify-content:center;
align-items:center;

background:#e8e2d5; /* skift farve hvis du vil */
}

.website-url{
font-size:clamp(50px,10vw,180px);
font-weight:900;
letter-spacing:4px;
color:white;

display:flex;
justify-content:center;
align-items:center;

text-align:center;
}